<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>Blog</h2>

    <p>
      <%= link_to "Créer un nouveau post", new_article_path %>
    </p>

    <%= render 'articles', obj: @articles %>
  </div>
</div>
