<div class="center container">
  <div class="jumbotron">
    <h1>The Masterdev</h1>
    <p>Deviens createur grâce à la programmation</p>
    <p><%= link_to "Lire les articles", articles_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>
